<li class="game-card mt-2">
  <%= link_to games_path do %>
    <div style="background: linear-gradient(307deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('<%= @game.cover %>'); background-size: cover; height: 75%;"></div>

    <div class="game-card__infos">
      <div class="game-card__infos__first-part">
        <h2><%= @game.name %></h2>
        <i class="fas fa-heart"></i>
      </div>


      <div class="game-card__infos__second-part">
        <div>
          <p>NOSTALGIA</p>
          <p><%= @game.nostalgia_point %></p>
        </div>

        <div>
          <p>CITY</p>
          <p><%= @game.owner.city %></p>
        </div>

        <div>
          <p>PLATFORM</p>
          <p><%= @game.platform %></p>
        </div>
      </div>
    </div>
  <% end %>
</li>
